@import url(bootstrap.min.css);
@import url(../fonts/fonts.css);
/* above is importing the entire bootstrap style sheet and the fonts site*/

html,body{
  overflow-x: hidden;
}


/* fonts */



body{
	font-family: font-family: 'Noto Serif', serif;
	color: #333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Vollkorn', serif;
}
.lead-description{
	font-family: 'Vollkorn', serif;
}


/* CSS for hero image, either background photo or background video */
.hero{
  background-image: url("../assets/Images/Images_From_CDFW_Social/Feb_23_Twitter/walking.on.beach.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color: #ffffff;
  position: relative;
}
.hero header{
  background-color:rgba(0,0,0,0.40);

}
.hero header > *{
  position: relative;
  z-index: 10;
}
.hero video{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height: 100vh;
  width: auto;
  z-index: 1 !important;
}
@media (min-aspect-ratio:16/9){
  .hero video{
    width: 100vw;
    height: auto;
  }
}


/* helper */
.vh-200{ height: 200vh;}
.vh-300{ height: 300vh;}
.vh-400{ height: 400vh;}
.vh-500{ height: 500vh;}
.vh-600{ height: 600vh;}



/* Sticky graphic */
.scroll-graphic{
  background-color:#000;
  z-index: -2;
}

.image-holder{
  background-image: url(../assets/Images/Images_From_CDFW_Social/Feb_23_Twitter/Eu9z9uKVoAQHrjD.jpg);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

